# Dependencias de Node.js
/node_modules/
npm-debug.log
yarn-error.log

# Archivos generados por el sistema
.DS_Store
Thumbs.db

# Archivos de compilación de TypeScript 
dist/
build/

# Archivos de configuración de la IDE 
.vscode/

# Archivos de entorno 
.env

package-lock.json
